<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserIO" class="com.mthree.c130.VendingMachine.ui.UserIOImpl"/>

    <bean id="view" class="com.mthree.c130.VendingMachine.ui.VendingMachineView">
        <constructor-arg ref="UserIO"/>
    </bean>

    <bean id="vendingMachineDao" class="com.mthree.c130.VendingMachine.dao.VendingMachineDaoImpl"/>

    <bean id="auditDao" class="com.mthree.c130.VendingMachine.dao.VendingMachineAuditDaoImpl"/>

    <bean id="money" class="com.mthree.c130.VendingMachine.service.VendingMachineMoneyImpl"/>

    <bean id="serviceLayer" class="com.mthree.c130.VendingMachine.service.VendingMachineServiceLayerImpl">
        <constructor-arg ref="vendingMachineDao"/>
        <constructor-arg ref="money"/>
        <constructor-arg ref="auditDao"/>
    </bean>

    <bean id="controller" class="com.mthree.c130.VendingMachine.controller.VendingMachineController">
        <constructor-arg ref="view"/>
        <constructor-arg ref="serviceLayer"/>
    </bean>

</beans>